* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html, body{
 height: 100%;
 /* background-color: rgb(231, 228, 228); */
 background-color: #12121f;
 content: center;
}
header{
  /* border-style: solid;
  border-color: blueviolet; */
  background-color: #12121f;
  /* background-color: #30343f; */
  height: 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  position: fixed;
  top:0;
  width: 100%;

}
img{
  max-width: 100%;
  
  display: block;
}
section{
  max-width: 100rem;
  
  padding: 3em 0;
  margin: 1em auto;
}
.container{
  
  width: 90%;
  /* border-style: solid;
  border-color: rgb(43, 226, 52); */
  margin: 0 auto;
}
.flash{
  display: block;
  background-color: #FFC247;
  color: #12121f;
  
}
.errors{
  color: rgb(255, 0, 0);
  font-weight: 500;
  text-align: center;
  /* margin-left: 1.2em; */
  margin-bottom: 1em;
}
footer{
  color: #fafaff;
  background-color: rgb(62, 62, 247);

}

.content{

  height: 100%;

}
.main{
  background-color: white;
  /* border-style: solid;
  border-color: rgb(43, 226, 52); */
  margin-top: 5em;
}
.tip{
  font-size: 12px;
  /* color:#353030; */
  color: #000000;
  font-weight: 550;
}

/* **********************Navigation******************************************** */
.container-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #30343f; */
  background-color: #12121f;

}
.logo{
  /* border-style: solid;
  border-color: darkblue; */

}

.logo a{
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: 900;
  color: #fafaff;
  font-size: 1.3em;

  transition: font-size 1s ease;
}
.logo a:hover{
  /* color: #95979F; */
  /* opacity: 0.5; */
  font-size: 1.5em;
}
nav{
  /* border-style: solid;
  border-color: crimson; */
}
nav ul{
  display: flex;
  
}
nav li{
  list-style: none;
  margin-left: 2em;

}
nav a{
  position: relative;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fafaff;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-bottom: 5px;

}
.secondary-pages li{
  margin-left: 1.5em;
}
.primary-pages a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left:0;
  bottom: 0;
  background: #fafaff;
  transform: scale(0);
  transition: all .27s ease;

}

.primary-pages a:hover::after{
  /* color: #95979F; */
  /* opacity: 0.5; */

  /* border-bottom: solid 1px #fafaff; */
  transform: scale(1);
}
#strange{
  color: red;
}
.secondary-pages a{
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px;
  border-radius: 1em;
  padding: 5px 10px 5px 10px;
  letter-spacing: 3px;


}
.secondary-pages a:hover{
  /* opacity: 0.5; */
  /* color:#85C7F2;
  border-color:#85C7F2 ; */
  color:#e9d370;
  border-color:#e9d370;
}

.active a
{

  border-bottom: solid 1px #fafaff;

}
.active a:hover{
  color: #fafaff;

}
.active a:hover::after{
  transform: scale(0);
}
.active_2 a{
  color:#e9d370;
  border-color:#e9d370;
}
.burger{
  display: none;
}
/* *******************************Log in************************************************* */
.container-log-in{

  display: flex;
  justify-content: center;
  height: 100%;
  /* border-style: solid;
  border-color: crimson;
  background-color:rgb(231, 228, 228); */


}

.login-box{

  background-color: #FFC247;
  margin-top: 5em;
  margin-bottom: auto;
  width: 50%;
  padding: 0 2em 0 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1em;
}
.login-box h1{
  font-family: 'Roboto', sans-serif;
  /* color:#353030; */
  color: #12121f;
  text-align: center;
  margin: 0.5em 0 1em 0;
  /* border-style: solid;
  border-color: rgb(43, 226, 52); */
}
.text-box{
  width: 100%;
  /* display: flex;
  align-items: center; */
  /* border-style: solid;
  border-color: rgb(43, 226, 52); */
  margin-bottom: 1em;
}
input{
    box-shadow: none !important;
    outline: 0 !important;
}
.input-text{
  width: 100%;
  color: black;
  font-size: 0.9em;
  font-weight: 500;
  height: 4em;
  background: transparent;
  border: 2px solid #12121f;
  /* box-sizing: border-box; */
  border-radius: 5em;
  padding-left: 1em;
}
.input-text::placeholder{
  color: #000000;
}
.fas{
  margin-right: 0.5em;
  font-size: 1.5em;

}
.btn{
  width: 130px;
  height: 2.5em;
  display: block;
  border-radius: 2.5em;
  font-size: 1em;
  margin: 1em auto;
  outline: none;
  background: transparent;
  color: #12121f;
  border: #12121f solid 2px;
  transition: all 0.25s ease;
  font-weight: bold;
}
.btn:hover{
  
  background-color:#12121f;
  color:#fafaff;
  /* border: none; */
  cursor: pointer;
}
.btn-submit{
  font-size: 1em;

}
.btn-register{
  position: relative;
  top: 1em;
  margin-bottom: 2em;
}
.tip-with-link{
  display: block;
  width: 100%;
  text-align: center;
}
.tip-with-link a{
  text-decoration: none;
  color:rgb(62, 62, 247);
}
.tip-with-link a:visited{
  color:rgb(62, 62, 247);
}
.double-tip{
  display: flex;
  justify-content: space-between;
  margin: 2em 0 2em 0;
}

.double-tip a{
  text-decoration: none;
  color: black;
}
.double-tip a:hover{
  color: rgb(62, 62, 247);
}
.tip1{
  display: flex;
  align-items:flex-end;
}

.tip1 input{
  margin: 0 0.2em 0 0;
  border-radius: 100%;
}
/* ***********************Custom check box************************* */
#check-box{
 display: block;
 padding-left: 35px;
 cursor: pointer;
 position: relative;

}
#check-box input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}
.checkmark{
  background-color:rgb(231, 228, 228);
  position: absolute;
  top:0;
  left: 0;
  height: 15px;
  width: 15px;
}
#check-box:hover  input ~ .checkmark{
  background-color:#ccc;
}
#check-box input:checked ~ .checkmark{
  background-color: #98cef1;
}
.checkmark::after{
  content: "";
  position: absolute;

}
#check-box input:checked ~ .checkmark::after{
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}
#check-box input:not(:checked) ~ .checkmark::after{
  transform: scale(0);
  opacity: 0;
}

#check-box .checkmark::after{
  width: 15px;
  height: 15px;
  top:0;
  left:0;
  background-image: url("https://www.freeiconspng.com/uploads/black-checkmark-png-10.png");
  /* background-image: url("http://localhost/beadando%20oop%20v2/images/checkmark.jpg"); */
  background-size: contain;
}
.validation-errors{
  color: rgb(255, 0, 0);
  font-weight: 500;
  margin-left: 1.2em;
}
/************************************* home page ******************************************/ 
.split{
  color: #fafaff;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;  */
  
}
.split div{
  
  margin-bottom: 1em;
  text-align: justify;
}
.split h1{
  text-align: center;
  margin-bottom: 1.5em;
}
/* .split img{
  margin: auto;
  
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  
} */
.img{
  background: url("https://source.unsplash.com/Znyjl9pbaUs");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.burger{
  display: none;
}
@media screen and (min-width:790px) {
  .split{
    display: flex;
  }
  .split >*{
    flex-basis: 100%;
    margin: 0 1em 0 0;
    
  }
  
  
}
@media screen and (max-width:50rem) {
  
  .nav-links{
    flex-flow: column;
    position: absolute;
    right: 0;
    top:3em;
    background-color: #12121f; 
    height: 100vh;
    width: 45%;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    opacity: 0;
  }
  #correct{
    background: transparent;
    top: 25em;
  }
  .nav-active{
    transform: translateX(0);
    opacity: 0.9;
  }
  .container-nav li{
    margin-bottom: 3em;
  }
  .burger{
    display: block;
    
    z-index: 3000;
    border: none;
    background: transparent;
    background-image: url(icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    transition: all 0.3s ease-in;

  }
  .X{

    background-image:url(icon-close.svg);
    width: 1.5rem;
    aspect-ratio: 1;

  }
  /* .burger{
    display: block;
    height:max-content;
    border: #FFC247 solid 1px;
    position: relative;
    
    
  }
  .burger:hover{
    cursor: pointer;

  }
  .burger div{
    width: 25px;
    height: 3px;
    background-color:#fafaff;
    margin: 5px;
    

  } */

  .X1{
    transition: all ease-in 0.5s;
    
    transform: rotate(-45deg) translate(-5px,6px);
    
    /* margin:0px; */
    
  }
  .X2{
    transition: all ease-in 0.5s;
    transform: rotate(45deg) translate(-5px,-6px);
    
  }
  
}